# TITANIC Dataset Exercise

In [175]:
import pandas as pd

In [202]:
#loading the dataset
df = pd.read_csv("train.csv")

In [177]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [203]:
# first we are going to change some columns to categorical 
df['Sex'].replace(['male', 'female'], [1, 0], inplace = True)
df['Embarked'].replace(['S', 'C', 'Q'], [0, 1, 2], inplace = True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1.0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0.0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0.0

In [179]:
df['Fare'].isna().sum()

0

In [204]:
df[df['Fare'].isna() == True] = df['Fare'].mean()
df.drop('Name', axis = 1, inplace = True)
df.drop('Cabin', axis = 1, inplace = True)

In [181]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1.0,0.0,3.0,1.0,22.0,1.0,0.0,A/5 21171,7.2500,0.0
1,2.0,1.0,1.0,0.0,38.0,1.0,0.0,PC 17599,71.2833,1.0
2,3.0,1.0,3.0,0.0,26.0,0.0,0.0,STON/O2. 3101282,7.9250,0.0
3,4.0,1.0,1.0,0.0,35.0,1.0,0.0,113803,53.1000,0.0
4,5.0,0.0,3.0,1.0,35.0,0.0,0.0,373450,8.0500,0.0

In [182]:
df['Age'].isnull().sum()

177

In [205]:
df['Age'].fillna(value = df['Age'].median(), inplace = True)

In [184]:
df['Embarked'].isna().sum()

2

In [185]:
df['Embarked'].value_counts()

0.0    644
1.0    168
2.0     77
Name: Embarked, dtype: int64

In [206]:
df['Embarked'].fillna(0, inplace = True)

In [207]:
df.drop('Ticket', axis = 1, inplace = True)

In [188]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          1.0       0.0     3.0  1.0  22.0    1.0    0.0   7.2500       0.0
1          2.0       1.0     1.0  0.0  38.0    1.0    0.0  71.2833       1.0
2          3.0       1.0     3.0  0.0  26.0    0.0    0.0   7.9250       0.0
3          4.0       1.0     1.0  0.0  35.0    1.0    0.0  53.1000       0.0
4          5.0       0.0     3.0  1.0  35.0    0.0    0.0   8.0500       0.0

In [189]:
y = df['Survived']
X = df.drop(['Survived', 'PassengerId'], axis = 1, inplace = False)
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0     3.0  1.0  22.0    1.0    0.0   7.2500       0.0
1     1.0  0.0  38.0    1.0    0.0  71.2833       1.0
2     3.0  0.0  26.0    0.0    0.0   7.9250       0.0
3     1.0  0.0  35.0    1.0    0.0  53.1000       0.0
4     3.0  1.0  35.0    0.0    0.0   8.0500       0.0

In [190]:
from sklearn.feature_selection import SelectKBest, chi2
best_features = SelectKBest(score_func = chi2, k = 6)
fit = best_features.fit(X, y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
features_scores = pd.concat([dfcolumns, dfscores], axis = 1)
features_scores.columns = (['Specs', 'Scores'])
features_scores.head(7)

      Specs       Scores
0    Pclass    30.873699
1       Sex    92.702447
2       Age    21.649163
3     SibSp     2.581865
4     Parch    10.097499
5      Fare  4518.319091
6  Embarked    11.353117

In [208]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 1)
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred_gnb = gnb.predict(X_test)
print(accuracy_score(y_test, y_pred_gnb))

0.7474747474747475

In [219]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np
dtc = DecisionTreeClassifier()
params = {'criterion': ('gini', 'entropy', 'log_loss'), 'splitter': ('best', 'random'), 'max_depth': np.arange(1,15)}
clf_dtc = GridSearchCV(dtc, params)
clf_dtc.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ('gini', 'entropy', 'log_loss'),
                         'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]),
                         'splitter': ('best', 'random')})

In [223]:
y_pred_dtc = clf_dtc.predict(X_test)

In [224]:
print(accuracy_score(y_pred_dtc, y_test))

0.7777777777777778

In [195]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
params_rfc = {'n_estimators': np.arange(10, 150, 10), 'criterion': ('gini', 'entropy', 'log_loss')}
clf_rfc = GridSearchCV(rfc, params_rfc)
clf_rfc.fit(X_train, y_train)
y_pred_rfc = clf_rfc.predict(X_test)
print(accuracy_score(y_pred_rfc, y_test))

0.7744107744107744

In [196]:
from sklearn.neighbors import KNeighborsClassifier
params_knn = {'n_neighbors': np.arange(1, 15), 'weights': ('uniform', 'distance'), 'algorithm': ('auto', 'ball_tree', 'kd_tree', 'brute')}
knn = KNeighborsClassifier()
clf_knn = GridSearchCV(knn, params_knn)
clf_knn.fit(X_train, y_train)
y_pred_knn = clf_knn.predict(X_test)
print(accuracy_score(y_pred_knn, y_test))

0.7003367003367004

In [197]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(X_train)

scaler.fit_transform(X_test)

array([[-1.51508696, -1.31330524,  1.59616457, ..., -0.45372593,
        -0.14812735, -0.59854583],
       [ 0.85323318,  0.76143761, -0.03239854, ..., -0.45372593,
        -0.47346881, -0.59854583],
       [-0.33092689, -1.31330524, -0.92810824, ..., -0.45372593,
        -0.42648631, -0.59854583],
       ...,
       [ 0.85323318,  0.76143761, -0.03239854, ..., -0.45372593,
        -0.48549498,  0.9746233 ],
       [-1.51508696, -1.31330524,  2.0847335 , ..., -0.45372593,
         0.79609608,  0.9746233 ],
       [ 0.85323318, -1.31330524, -1.17239271, ..., -0.45372593,
        -0.47421932, -0.59854583]])

In [225]:
from sklearn.svm import SVC
svc = SVC()
params_svc = {'C': np.linspace(1,2,10), 'kernel': ('linear', 'poly', 'rbf', 'sigmoid')}
clf_svc = GridSearchCV(svc, params_svc)
clf_svc.fit(X_train, y_train)
y_pred_svc = clf_svc.predict(X_test)
print(accuracy_score(y_pred_svc, y_test))

0.7542087542087542